{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}/" rel="stylesheet">
        <script src="https://kit.fontawesome.com/fddc2a7317.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
            <header>
                
                <div class="logo">
                    <h1>a<span>uctions-</span></h1>
                </div>    
                                      

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'closed' %}">Closed Listings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                    </li>

                    {% if user.is_authenticated %}
                    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'open_watchlist' %}">My Watchtlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item regis">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        
                    {% endif %}
                </ul>

                <div>
                    {% if user.is_authenticated %}
                    <img src="https://dl.dropboxusercontent.com/s/qnzuqeomjs0qza9/023-pacman.png?dl=0" alt="">
                        Signed in as <strong>{{ user.username|capfirst }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                </div>
            
            </header>
        <div class="cont">    
            {% block body %}
            {% endblock %}
        </div>    
    </body>
</html>
